.project-manage{
  padding:30px;

  .project-manage-title{
    margin-bottom:30px;
  }
  .manage-btn{
    margin-right:10px;
  }
  .router-btn{
    padding:5px 10px;
    border-radius: 5px;
    border:1px solid #409eff;
  }
}
